.heart-icon.liked {
  color: red;
}

.bookmark-icon.liked {
  color: orange;
}

.review-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-content {
  margin-left: 60px;
}

.row-below{
  margin-top: 10px;
}
