.right-col {
  position: relative;
}

.album-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

/*
.heart-icon,
.bookmark-icon {
  font-size: 20px;
}
*/

.review-section{
  padding-top: 50px;
  margin-bottom: 50px;
}
